
  <%= form_for @company, url: create_company_profiles_path, method: :post do |f| %>
    <table>
      <tr>
        <td>Company Name</td>
        <td> <%= f.text_field :name%></td>
      </tr>
      <tr>
        <td>Company Location</td>
        <td> <%= f.text_field :location%></td>
      </tr>

      <tr>
        <td>Designation</td>
        <td> <%= f.text_field :designation%></td>
      </tr>
      <tr>
        <td>Experience</td>
        <td> <%= f.text_field :year%> <%= f.text_field :month%></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2"><%= f.submit %></td>
      </tr>
    </table>
  <% end %>
