<div class="wrapper">
  <%=form_tag change_password_method_user_path,id: 'formchangepassword', class:"form-signin", method: :post do %>
     <h2 class="form-signin-heading">Password here</h2>
    <table>
      <tr>
        <td><%=email_field_tag :email, @profile.email, class: "form-control", placeholder: "Email"%></td>
      </tr>
      <tr>
        <td><%=password_field_tag :password,nil, class: "form-control", placeholder: "Password"%></td>
      </tr>
      <tr>
        <td><%=password_field_tag :password,nil, class: "form-control", placeholder: "Confirm Password"%></td>
      </tr>
      <tr>
        <td><%=submit_tag 'change', class:"btn btn-lg btn-primary btn-block", id: 'changepassword'%></td>
      </tr>
    </table>
  <%end%>
</div>

