<style type="text/css">
html body{
  background-image: none;
  background-color: white;
}
</style>
<div class="ProfileCanopy">
  <div class="ProfileCanopy-inner">
    <div class="ProfileCanopy-header u-bgUserColor">
      <div class="AppContainer">
        <div class="ProfileCanopy-avatar">
          <div class="ProfileAvatar">
            <div>
              <%=image_tag @user.profile.image, size: "185x188", style: "border-radius: 5px;" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ProfileCanopy-navBar">
      <div class="AppContainer">
        <div class="Grid Grid--withGutter">
          <div class="Grid-cell u-size1of3 u-lg-size1of4"></div>
          <div class="Grid-cell u-size2of3 u-lg-size3of4">
            <div class="container-fluid navshift">
              <ul class="nav navbar-nav container">
                <% x, y, z, a = show_count%>
                <li> <%=link_to '#', class: "u-textCenter" do %>
                      <span class="ProfileNav-label">Tweet</span>
                      <span class="ProfileNav-value"> <%= x%></span>
                    <% end %>
                </li>
                <li> <%=link_to '#',class: "u-textCenter"  do %>
                      <span class="ProfileNav-label">Photos/Videos</span>
                      <span class="ProfileNav-value"> <%= z%></span>
                    <% end %>
                </li>
                <li> <%=link_to '#', class: "u-textCenter"  do %>
                      <span class="ProfileNav-label">Followers</span>
                      <span class="ProfileNav-value"> <%= y%></span>
                    <% end %>
                </li>
                <li> <%=link_to '#',class: "u-textCenter"  do %>
                      <span class="ProfileNav-label">Followings</span>
                      <span class="ProfileNav-value"> <%= z%></span>
                    <% end %>
                </li>
                <li> <%=link_to '#',class: "u-textCenter"  do %>
                      <span class="ProfileNav-label">Favorites</span>
                      <span class="ProfileNav-value"> <%= a%></span>
                    <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: inline">
  <div style="float:left; display: block">
  </div>
  <div class="show_user_post">
    <%=render partial: "posts/post", collection: @posts%>
  </div>
  <div class="show_follower">
    bdfjhdsbfgkjshihislk
  </div>
</div>
