<div class="wrapper">
  <%=form_tag update_profile_method_user_path,:multipart => true, id: 'formprofileupdate', class:"form-signin", method: :post do %>
     <h2 class="form-signin-heading">Profile</h2>
    <table>
      <tr>
        <td><%=text_field_tag :lastName,@profile.lastName, class: "form-control", placeholder: "Last Name"%></td>
      </tr>
      <tr>
        <td><%=date_field_tag :dob,@profile.dob, class: "form-control", placeholder: "Date of Birth"%></td>
      </tr>
      <tr>
        <td><%=label_tag :Male%><%= radio_button_tag 'gender', 'male'%>
            <%=label_tag 'Female'%><%= radio_button_tag 'gender', 'female'%>
        </td>
      </tr>
      <tr>
        <td><%=text_field_tag :country,@profile.country, class: "form-control", placeholder: "Country"%></td>
      </tr>
      <tr>
        <td><%=text_field_tag :zip,@profile.zip, class: "form-control", placeholder: "Zip"%></td>
      </tr>
      <tr>
        <td><%=text_field_tag :mobile,@profile.mobile, class: "form-control", placeholder: "Mobile"%></td>
      </tr>
      <tr>
        <td><%=file_field_tag :image, class: "form-control", placeholder: "Image"%></td>
      </tr>
      <tr>
        <td><%=submit_tag 'Update', class:"btn btn-lg btn-primary btn-block", id: 'profileupdate'%></td>
      </tr>
    </table>
  <%end%>
</div>