<br>
  <%= @post.title %><br>
  <input type="button" value="Comment" id="showDiv"><br>
<div class='post' id="div1" style="display: none;">
  <%=form_for([@post, @comment]) do |f|%>
    <%=f.label Comment %>
    <%=f.text_area :content%>
    <br>
    <%=f.submit id: "hideDiv"%>
  <% end %>
</div>
<br>
<div>
  <table class="table table-hover" id="showcomments">
    <% @post.comments.reverse_order.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </table>
</div>


