<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

  	<div >
  		<%if session[:email].blank?%>
  			<%= link_to 'Sign Up', new_user_path, class: "btn btn-primary pos_fixed1" %>
  			<%= link_to 'Sign In', signin_users_path, class: "btn btn-primary  pos_fixed"%>
  		<%else%>
        <input type="text" value=<%=session[:email]%> readonly class="btn btn-primary pos_fixed1"/>
  			<%= link_to 'Sign out', logout_users_path, class: "btn btn-primary pos_fixed" %>
  		<%end%>
  	</div>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>
  <%= yield %>

  </body>
</html>
