<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "autocomplete-rails.js"%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <div class= 'navbar navbar-default navbar-fixed-top ' style="height:50px;">
        <div style="margin-left: 60%; margin-top:-10px;">
          <ul class="nav navbar-nav container" >
            <li style="margin-top:20px;"><%= autocomplete_field_tag :user_name, "",autocomplete_user_name_users_path %>
            </li>
            <li> <%= link_to 'Post', posts_path, class: "btn btn-default-lg navbar-btn" %></li>
            <li> <%= link_to 'favourite', favourite_show_users_path, class: "btn btn-default-lg navbar-btn" %></li>
            <li class="dropdown home-head">
              <a id="drop4" data-toggle="dropdown" href="#"> Home <span class="caret"></span></a>
                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4" style="min-width: 127px;">
                  <li role="presentation"><%= link_to current_user_name, user_path(current_user), class: "btn btn-default-lg navbar-btn" %></li>
                  <li role="presentation"><%= link_to "Message",  new_messages_users_path, class: "btn btn-default-lg navbar-btn" %></li>
                  <li role="presentation"><%= link_to "Update Profile",  update_profile_user_path(current_user), class: "btn btn-default-lg navbar-btn" %></li>
                  <li role="presentation"><%= link_to "Change Password",  edit_user_registration_path, class: "btn btn-default-lg navbar-btn" %></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"> <%= link_to 'Sign out',  destroy_user_session_path, :method => :delete, class: "btn btn-default-lg navbar-btn" %></li>
                </ul>
            </li>
            <li style="margin-top:20px;">
              <span  data-toggle="modal" data-target="#myModal"
               id="postButton" title="Compose new tweet"><%= image_tag 'tweet(3).jpg', size: "40x40" %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    <%end%>

    <div class="modal" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:hidden">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span id="closeModelX" class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Compose New Tweet</h4>
          </div>
          <%=form_for (Post.new) do |f|%>
            <div class="modal-body">
              <%=f.text_area :title, style: "width:560px;height:100px;resize: none;"%>
            </div>
            <div class="modal-footer">
              <button type="button"  id ="closeModelB" class="btn btn-default" data-dismiss="modal">Close</button>
              <%=f.submit :Tweet, class:"btn btn-primary", id:"post_new" %>
            </div>
          <%end%>
        </div>
    </div>
</div>
    <div style="padding-top:auto;">
      <% if flash[:notice] %>
        <div class="notice alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
